@media (max-width: 1400px) {
	.title {
		font-size: 54px;
	}
	.button {
		padding: 16px 10px;
	}
	.question-card__item__number {
		padding: 0 5px;
	}
	.tz-not, 
	.whatwedo, 
	.tz-ready, 
	.press-form, 
	.consultation, 
	.consumers, 
	.power, 
	.big-manufacture, 
	.blog, 
	.contacts, 
	footer {
		padding: 50px 0;
	}
	.quality {
		padding: 150px 0;
	}
	.slick-list {
		height: unset;
	}
	.blog__slider__slide__card {
		padding: 10px;
	}
	.question-card__title {
		white-space: unset;
	}
}
@media (max-width: 1200px) {
	.header__buttons-wrapper {
		flex-wrap: wrap;
		row-gap: 6px;
		justify-content: center;
	}
	.button {
		padding: 10px 10px;
		font-size: 14px;
	}
	.question-card__title {
		font-size: 22px;
		white-space: unset;
	}
	.question-card {
		padding: 30px;
	}
	.power__card {
		font-size: 16px;
		padding: 20px;
	}
	.footer-text {
		font-size: 16px;
		line-height: 16px;
	}
		.header__phone-email-wrap {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}
	.header__buttons-wrapper {
		row-gap: 10px;
	}
	.header__contacts-wrapper {
		justify-content: center;
	}
}
@media (max-width: 992px) {
	.video__title {
		font-size: 52px;
	}
	.video__card__title {
		font-size: 42px;
	}
	.video__card__desc {
		font-size: 16px;
		line-height: 26px;
	}
	.title {
		font-size: 52px;
	}
	.whatwedo__slider__slide__card__text {
		font-size: 12px;
	}
	.whatwedo__slider__slide__card__text {
		font-size: 13px;
	}
	.slick-track {
		max-height: 213px; /* ??? */
	}
	.press-form__card__title:not(.press-form__card:first-child.press-form__card__title) {
		font-size: 20px;
	}
	.tz-not__card__text {
		line-height: 22px;
	}
	.question-card__item__text {
		font-size: 16px;
		line-height: 20px;
		white-space: unset;
	}
	.question-card__item {
		align-items: center;
	}
}
@media (max-width: 768px) {
	.header__menu {
		top: 0;
		right: -100vw;
		position: absolute;
		height: 100%;
		width: 100vw;
		background: var(--white);
		z-index: 100;
		padding: 20px;
		transition: all 0.5s;
	}
	.header__menu li{
		font-size: 26px;
		line-height: 44px;
	}
	.header__logo-area__text {
		display: none;
	}
	.header__buttons-wrapper {
		row-gap: 0px;
	}
	hr {
		display: none;
	}
	header {
		padding: 10px 0;
		box-shadow: 0px 11px 12px 0px rgba(0, 0, 0, 0.08);
	}
	.active {
		display: block!important;
		right: 0!important;
	}
}

@media (max-width: 576px) {
	.header__buttons-wrapper .header__button:nth-child(2) {
		margin-top: 15px;
	}
	.header__buttons-wrapper .header__button {
		width: 100%;
	}
	.header__phone-email-wrap {
		margin-top: 15px;
	}
	.video__title, .video__card__title {
		font-size: 30px;
		line-height: 48px;
	}
	.video {
		padding: 75px 0 75px;
	}
	.video__card {
		min-height: unset;
	}
	.whatwedo   .slick-track {
		max-height: 235px;
	}
	.whatwedo__slider {
		margin-top: 10px;
	}
	.title, .title_white {
		font-size: 30px;
		line-height: 48px;	
	}
	.tz-not, .whatwedo, .tz-ready, .press-form, .consultation, .consumers, .power, .big-manufacture, .blog, .contacts, footer {
		padding: 25px 0;
	}
	.question-card {
		border-left: unset;
	}
	.press-form__cards-wrapper {
		grid-template-columns: 100%;
		grid-template-rows: 280px 280px 280px 280px 280px ;
		gap: 15px;
		grid-template-areas:
		"a" 
		"b"
		"c"
		"d"
		"e";
	}
	.question-card {
		padding: 20px;
	}
	.quality {
		padding: 25px 0;
	}
	.power .title {
		margin-bottom: 30px;
	}
	.big-manufacture__pics-wrapper {

	}

	.big-manufacture__pics-wrapper {
		flex-flow: row wrap;
	}
	.big-manufacture__title_slider {
		margin: 50px 0 40px;
	}
	.blog__subtitle {
		margin: 25px 0;
	}
	.blog__slider .slick-list {
		height: 350px;
	}
	.big-manufacture__desc {
		margin-bottom: 25px;
	}
	.slick-initialized .slick-slide {
		display: flex;
		justify-content: center;
	}
	.consumers__slider__slide {
		padding: 0;
		border-right: none;
	}
	.contacts__card {
		position: unset;
	}
	.contacts__card__phone-wrapper {
		font-size: 14px;
	}
	.contacts__card {
		padding: 45px 0px;
	}
	.contacts {
		padding: 0;
	}
	.contacts__card {
    	padding: 10px 0px;
	}

}

@media (max-width: 470px) {
	.consultation__messenger__logos {
		flex-direction: column;
		row-gap: 5px;
	}

}