@media (max-width: 1400px) {
	.title {
		font-size: 54px;
	}
	.button {
		padding: 16px 10px;
	}
	.question-card__item-number {
		padding: 0 5px;
	}
	.tz-not,
	.whatwedo,
	.tz-ready,
	.press-form,
	.consultation,
	.consumers,
	.power,
	.big-manufacture,
	.blog,
	.contacts,
	footer {
		padding: 50px 0;
	}
	.quality {
		padding: 150px 0;
	}
	.slick-list {
		height: unset;
	}
	.blog-slide__content-wrap {
		padding: 10px;
	}
	.question-card__title {
		white-space: unset;
	}
	.process-slide,
	.types-slide {
		padding: 10px;
	}
}
@media (max-width: 1200px) {
	.header__buttons-wrapper {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		row-gap: 6px;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.button {
		padding: 10px 10px;
		font-size: 14px;
	}
	.question-card__title {
		font-size: 22px;
		white-space: unset;
	}
	.question-card {
		padding: 30px;
	}
	.power-card {
		font-size: 16px;
		padding: 20px;
	}
	.footer-text {
		font-size: 16px;
		line-height: 16px;
	}
	.header__phone-email-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		row-gap: 10px;
	}
	.header__buttons-wrapper {
		row-gap: 10px;
	}
	.burger-line {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.power .title {
		margin-bottom: 75px;
	}
}
@media (max-width: 992px) {
	.video-title {
		font-size: 52px;
	}
	.video__card-title {
		font-size: 42px;
	}
	.video__card-desc {
		font-size: 16px;
		line-height: 26px;
	}
	.title {
		font-size: 52px;
	}
	.whatwedo-slider__text {
		font-size: 12px;
	}
	.whatwedo-slider__text {
		font-size: 13px;
	}
	.press-form-card__title:not(.press-form-card:first-child.press-form-card__title) {
		font-size: 20px;
	}
	.tz-not-card__text {
		line-height: 22px;
	}
	.question-card__item-text {
		font-size: 16px;
		line-height: 20px;
		white-space: unset;
	}
	.question-card__item {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
@media (max-width: 768px) {
	.header__menu {
		top: 0;
		right: -100vw;
		position: absolute;
		height: 100%;
		width: 100vw;
		background: var(--white);
		z-index: 100;
		padding: 20px;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
	.header__menu li {
		font-size: 26px;
		line-height: 44px;
	}
	
	.header__logo-text {
		display: none;
	}
	.header__buttons-wrapper {
		row-gap: 0px;
	}
	hr {
		display: none;
	}
	header {
		padding: 10px 0;
		-webkit-box-shadow: 0px 11px 12px 0px rgba(0, 0, 0, 0.08);
		box-shadow: 0px 11px 12px 0px rgba(0, 0, 0, 0.08);
	}
	.active {
		display: block !important;
		right: 0 !important;
	}
	.question-card {
		border-left: unset;
	}
	.tz-not-card__title {
		font-size: 17px;
		line-height: 24px;
	}
	.tz-not-card__text {
		font-size: 16px;
	}
	.press-form-card {
		min-height: unset;
	}
	.press-form-cards-wrapper {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 160px 15px 160px 15px 160px;
		grid-template-columns: 160px 160px 160px;
		-ms-grid-rows: 250px 15px 250px;
		grid-template-rows: 250px 250px;
		gap: 15px;
	}
	.press-form-cards-wrapper>*:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.press-form-cards-wrapper>*:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}
	.press-form-cards-wrapper>*:nth-child(3) {
		-ms-grid-row: 1;
		-ms-grid-column: 5;
	}
	.press-form-cards-wrapper>*:nth-child(4) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	.press-form-cards-wrapper>*:nth-child(5) {
		-ms-grid-row: 3;
		-ms-grid-column: 3;
	}
	.press-form-cards-wrapper>*:nth-child(6) {
		-ms-grid-row: 3;
		-ms-grid-column: 5;
	}
	.press-form-card {
		padding: 15px;
		font-size: 18px;
	}
	.title {
		font-size: 44px;
	}
	.blog-slide__title {
		font-size: 16px;
	}
	.blog-slide__date {
		font-size: 14px;
		line-height: 17px;
		margin: 10px 0;
	}
	.contacts-card {
		padding: 30px 20px;
		position: unset;
		width: auto;
		margin-bottom: 30px;
	}
	.contacts-card__phone-wrapper {
		font-size: 14px;
	}
	.contacts {
		padding: 0;
	}
	.contacts-card br {
		display: none;
	}
	.blog__subtitle {
		margin: 35px 0;
	}
	.video {
		padding: 100px 0 100px;
	}
	.product-main__text,
	.product-card__title {
		margin-top: 20px;
	}
}
@media (max-width: 576px) {
	.header__buttons-wrapper .header__button:nth-child(2) {
		margin-top: 15px;
	}
	.header__buttons-wrapper .header__button {
		width: 100%;
	}
	.header__phone-email-wrap {
		margin-top: 15px;
	}
	.video-title,
	.video__card-title {
		font-size: 30px;
		line-height: 48px;
	}
	.video {
		padding: 75px 0 75px;
	}
	.video__card {
		min-height: unset;
	}
	.whatwedo .slick-track {
		max-height: unset;
	}
	.whatwedo-slider {
		margin-top: 10px;
	}
	.title,
	.title_white {
		font-size: 30px;
		line-height: 48px;
	}
	.tz-not,
	.whatwedo,
	.tz-ready,
	.press-form,
	.consultation,
	.consumers,
	.power,
	.big-manufacture,
	.blog,
	.contacts,
	footer {
		padding: 25px 0;
	}
	.press-form-cards-wrapper {
		-ms-grid-columns: 100%;
		grid-template-columns: 100%;
		-ms-grid-rows: 280px 15px 280px 15px 280px 15px 280px 15px 280px;
		grid-template-rows: 280px 280px 280px 280px 280px;
		gap: 15px;
		grid-template-areas:
			"a"
			"b"
			"c"
			"d"
			"e";
	}
	.question-card {
		padding: 20px;
	}
	.quality {
		padding: 25px 0;
	}
	.power .title {
		margin-bottom: 30px;
	}
	.big-manufacture-pics {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	.big-manufacture__title_slider {
		margin: 50px 0 40px;
	}
	.blog__subtitle {
		margin: 25px 0;
	}
	.big-manufacture__desc {
		margin-bottom: 25px;
	}
	.slick-initialized .slick-slide {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.consumers-slide {
		padding: 0;
		border-right: none;
	}
	.slick-current+.list-zaprosa__text {
		border: none;
	}
	.slick-track {
		max-height: unset;
	}
	.blog-slider .slick-list {
		height: unset;
	}
	.blog-slide__title {
		font-size: 16px;
	}
	.blog-slide__date {
		font-size: 14px;
		line-height: 17px;
		margin: 5px 0;
	}
	.product-main {
		padding-bottom: 15px;
	}
	.types {
		padding-top: 15px;
	}
	.process-slider,
	.types-slider {
		margin-top: 15px;
	}
}
@media (max-width: 470px) {
	.consultation-messenger__logos {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		row-gap: 5px;
	}
	.blog-slide__title {
		font-size: 21px;
	}
	.contacts-card__text br:first-child {
		display: unset;
	}
	.contacts-card {
		padding: 30px 10px;
		margin-bottom: 20px;
	}
}