@media (max-width: 1400px) {
	.video {
		padding: 130px 0;
	}
	.title {
		font-size: 54px;
	}
	.button {
		padding: 16px 10px;
	}
	.question-card__item-number {
		padding: 0 5px;
	}
	.tz-not,
	.whatwedo,
	.tz-ready,
	.production,
	.consultation,
	.consumers,
	.power,
	.manufacture,
	.blog,
	footer {
		padding: 65px 0;
	}
	.contacts {
		padding: 70px 0;
	}
	.quality {
		padding: 150px 0;
	}
	.slick-list {
		height: unset;
	}
	.blog-slide__content-wrap {
		padding: 10px;
	}
	.question-card__title {
		white-space: unset;
	}
	.process-slide,
	.types-slide {
		padding: 10px;
	}
	.footer__policy {
		margin-top: 20px;
	}
	.video-title {
		font-size: 68px;
		line-height: 68px;
	}
	.header__buttons-wrapper {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		row-gap: 6px;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		row-gap: 10px;
	}
}
@media (max-width: 1200px) {
	.video {
		padding: 130px 0 50px;
	}
	header {
		padding-top: 10px;
	}
	.video-title {
		font-size: 56px;
		line-height: 56px;
	}
	.button {
		padding: 10px 10px;
		font-size: 14px;
	}
	.question-card__title {
		font-size: 22px;
		white-space: unset;
	}
	.question-card {
		padding: 30px;
	}
	.power-card {
		font-size: 16px;
		padding: 20px;
	}
	.footer__text,
	.footer__text_grey {
		font-size: 16px;
		line-height: 16px;
	}
	.header__contacts {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.burger-line {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.power .title {
		margin-bottom: 75px;
	}
	.manufacture__title_slider {
		margin: 40px 0 40px;
	}
	.consultation .title {
		margin-bottom: 50px;
	}
	.title {
		font-size: 48px;
	}
	.quality {
		padding: 75px 0;
	}
	.blog__subtitle {
		margin: 20px 0 50px;
	}
	.header__logo-text {
		display: none;
	}
	.power-card div {
		padding: 20px;
		font-size: 16px;
	}
	.nav-item {
		padding: 0;
	}
	.manufacture,
	.production,
	.power {
		padding: 15px 0;
	}
	.blog {
		padding: 40px 0 0 0;
	}
	.whatwedo .slick-current+.slick-slide {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.whatwedo-slider__slide {
		padding: 10px;
	}
}
@media (max-width: 991px) {
	.video-title {
		font-size: 52px;
	}
	.video__card-title {
		font-size: 42px;
	}
	.video__card-desc {
		font-size: 16px;
		line-height: 26px;
	}
	.title {
		font-size: 38px;
		line-height: 42px;
	}
	.whatwedo-slider__text {
		font-size: 15px;
	}
	.production__card__title:not(.production__card:first-child.production__card__title) {
		font-size: 20px;
	}
	.tz-not-card__text {
		line-height: 22px;
	}
	.question-card__item-text {
		font-size: 16px;
		line-height: 20px;
		white-space: unset;
	}
	.question-card__item {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.footer__menu ul li,
	.footer__uslugi-list ul li {
		margin-top: 5px;
	}
	.footer__text_grey {
		margin-top: 10px;
	}
	.production__cards-wrapper {
		margin-top: 35px;
	}
	.tz-ready .title {
		margin-bottom: 35px;
	}
	.tz-not-card {
		padding: 20px;
	}
	.whatwedo-slider__slide {
		padding: 5px 10px;
	}
	.video {
		padding: 70px 0 40px;
	}
	.consumers {
		padding: 35px 0;
	}
	.power .title {
		margin-bottom: 50px;
	}
}
@media (max-width: 768px) {
	.video-title,
	.video-card__title {
		font-size: 44px;
		line-height: 46px;
	}
	.title {
		font-size: 40px;
	}
	.video__card {
		min-height: 140px;
		min-height: 140px;
	}
	.header__menu {
		top: 0;
		right: -150%;
		position: fixed;
		height: 100vh;
		width: 100%;
		background: var(--white);
		z-index: 100;
		padding: 20px;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		visibility: hidden;
		display: block;
	}
	.header__menu li {
		font-size: 22px;
		line-height: 38px;
	}
	.header__buttons-wrapper {
		row-gap: 0px;
	}
	hr {
		display: none;
	}
	header {
		padding: 10px 0;
		-webkit-box-shadow: 0px 11px 12px 0px rgba(0, 0, 0, 0.08);
		box-shadow: 0px 11px 12px 0px rgba(0, 0, 0, 0.08);
	}
	.active {
		display: block !important;
		right: 0 !important;
		visibility: visible;
	}
	.question-card {
		border-left: unset;
	}
	.tz-not-card__title {
		font-size: 17px;
		line-height: 24px;
	}
	.tz-not-card__text {
		font-size: 16px;
	}
	.production__card {
		padding: 15px;
	}
	.production__card-title:not(.production__card:first-child.production__card-title) {
		font-size: 16px;
		line-height: 21px;
		padding-bottom: 10px;
	}
	.production__card-title {
		padding-bottom: 10px;
	}
	.production__card-text {
		padding-top: 10px;
		font-size: 16px;
		line-height: 22px;
	}
	.production__cards-wrapper {
		margin-top: 20px;
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 15px 1fr 15px 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		-ms-grid-rows: minmax(200px, 1fr) 15px minmax(200px, 1fr);
		grid-template-rows: minmax(200px, 1fr) minmax(200px, 1fr);
		gap: 15px;
	}
	.production__cards-wrapper>*:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.production__cards-wrapper>*:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}
	.production__cards-wrapper>*:nth-child(3) {
		-ms-grid-row: 1;
		-ms-grid-column: 5;
	}
	.production__cards-wrapper>*:nth-child(4) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	.production__cards-wrapper>*:nth-child(5) {
		-ms-grid-row: 3;
		-ms-grid-column: 3;
	}
	.production__cards-wrapper>*:nth-child(6) {
		-ms-grid-row: 3;
		-ms-grid-column: 5;
	}
	.production__cards-wrapper>*:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.production__cards-wrapper>*:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}
	.production__cards-wrapper>*:nth-child(3) {
		-ms-grid-row: 1;
		-ms-grid-column: 5;
	}
	.production__cards-wrapper>*:nth-child(4) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	.production__cards-wrapper>*:nth-child(5) {
		-ms-grid-row: 3;
		-ms-grid-column: 3;
	}
	.production__cards-wrapper>*:nth-child(6) {
		-ms-grid-row: 3;
		-ms-grid-column: 5;
	}
	.blog-slide__title {
		font-size: 16px;
	}
	.blog-slide__date {
		font-size: 14px;
		line-height: 17px;
		margin: 10px 0;
	}
	.contacts-card {
		padding: 30px 20px;
		position: unset;
		width: auto;
		margin: 30px 0;
	}
	.contacts-card__phone-wrapper {
		font-size: 14px;
	}
	.contacts {
		padding: 0;
	}
	.contacts-card br {
		display: none;
	}
	.blog__subtitle {
		margin: 35px 0;
	}
	.video {
		padding: 100px 0 100px;
	}
	.product-main__text,
	.product-card__title {
		margin-top: 20px;
	}
	.header__buttons-wrapper,
	.header__button:nth-child(2) {
		margin-top: 15px;
	}
	.header__buttons-wrapper .header__button {
		width: 100%;
	}
	.header__contacts {
		margin-top: 15px;
	}
	.power,
	.consultation,
	.quality {
		padding: 35px 0;
	}
	.video {
		padding: 80px 0;
	}
	.tz-ready,
	.tz-not {
		padding: 35px 0px;
	}
	.consultation-messenger {
		margin-top: 20px;
	}
	.quality-text__title {
		margin-top: 35px;
	}
	.consumers-slide {
		padding: 0 5px;
		border-right: none;
	}
	.consumers {
		padding: 35px 0 0 0;
	}
	.manufacture__desc {
		margin-bottom: 25px;
	}
	.manufacture__title {
		margin-bottom: 5px;
	}
}
@media (max-width: 576px) {
	.quality-text__title,
	.manufacture__title {
		font-size: 18px;
		line-height: 20px;
	}
	.video-title,
	.video-card__title,
	.title,
	.title_white {
		font-size: 28px;
		line-height: 36px;
	}
	.video {
		padding: 25px 0 25px;
	}
	.video__card {
		min-height: unset;
	}
	.whatwedo-slider {
		margin-top: 10px;
	}
	.tz-not,
	.whatwedo,
	.tz-ready,
	.production,
	.consultation,
	.power,
	.manufacture,
	.blog,
	.contacts,
	footer {
		padding: 25px 0;
	}
	.production__cards-wrapper {
		-ms-grid-columns: 100%;
		grid-template-columns: 100%;
		-ms-grid-rows:
			minmax(200px, 1fr) 15px minmax(200px, 1fr) 15px minmax(200px, 1fr) 15px minmax(200px, 1fr) 15px minmax(200px, 1fr);
		grid-template-rows:
			minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
		gap: 15px;
		grid-template-areas:
			"a"
			"b"
			"c"
			"d"
			"e";
	}
	.question-card {
		padding: 20px 20px 0 20px;
	}
	.quality {
		padding: 25px 0;
	}
	.power .title {
		margin-bottom: 30px;
	}
	.manufacture__title_slider {
		margin: 50px 0 20px;
	}
	.blog__subtitle {
		margin: 15px 0;
	}
	.manufacture__desc {
		margin-bottom: 25px;
	}
	.slick-initialized .slick-slide {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.consumers-slider {
		margin-top: 0;
	}
	.consumers-slide {
		padding: 0;
		border-right: none;
	}
	.slick-current+.tz-block__text {
		border: none;
	}
	.blog-slider .slick-list {
		height: unset;
	}
	.blog-slide__title {
		font-size: 20px;
	}
	.blog-slide__date {
		font-size: 14px;
		line-height: 17px;
		margin: 10px 0 5px;
	}
	.product-main {
		padding-bottom: 15px;
	}
	.types {
		padding-top: 15px;
	}
	.process-slider,
	.types-slider {
		margin-top: 15px;
	}
	.quality__text__desc,
	.manufacture__desc {
		font-size: 13px;
		line-height: 18px;
	}
	.manufacture__desc br {
		display: none;
	}
	.whatwedo .slick-current+.slick-slide {
		-webkit-box-shadow: unset;
		box-shadow: unset;
	}
	.tz-not-card {
		min-height: 240px;
	}
	.consultation-messenger__logos {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		row-gap: 10px;
	}
	.question-card__title {
		margin-bottom: 10px;
	}
	.blog__subtitle {
		font-size: 16px;
		line-height: 20px;
	}
	.contacts-card__text {
		white-space: unset;
	}
	.contacts-card {
		margin: 0;
	}
	.contacts {
		padding: 15px 0;
	}
	.contacts-map-wrapper {
		margin-top: 15px;
	}
	.video-card {
		min-height: 155px;
	}
	.consultation .title {
		margin-bottom: 25px;
	}
	.power-card div,
	.power-card div.active {
		padding: 20px;
		font-size: 17px;
	}
}